{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": [
    "class",
    "className",
    "classList",
    "ngClass",
    "container-class",
    "select-class",
    "value-class",
    "delete-class",
    "input-class",
    "choices-class",
    "option-class"
  ]
}
