{
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.twig",
      "options": {
        "parser": "liquid-html"
      }
    }
  ],
  "tailwindAttributes": [
    "class",
    "className",
    "classList",
    "ngClass",
    "container-class",
    "select-class",
    "value-class",
    "delete-class",
    "input-class",
    "choices-class",
    "option-class"
  ]
}
