{% extends 'base.twig' %}
{% block head %}
<title>ADMIN | Activities</title>
<link rel="stylesheet" href="../styles/admin_index.css">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
<div class="table-container-3">
  <div class="table-container">
    <div class="table-container-2">
      <table class="teybol">
        <thead>
          <tr>
            <th>Name</th>
            <th>Log in Time</th>
            <th>Log out Time</th>
          </tr>
        </thead>
        <tbody>
          {% for ses in session %}
            <tr>
              <td data-label="Name">
                {{ ses.name | default("Admin") }}
              </td>
              <td data-label="Log in Time">{{ ses.login | date("M d, Y H:i ", "Asia/Manila") }}</td>
              <td data-label="Log out Time">
                {% if ses.logout is null %}
                  Still Logged In
                {% else %}
                  {{ ses.logout | date("M d, Y H:i", "Asia/Manila") }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
