<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/dict-logo.png">
    {% block head %}
    {% endblock %}
    {{ vite('main.ts') | raw }}
  </head>
  <html>
    <body>
      <noscript>
        <strong>
          We're sorry but DICT JO doesn't work properly without JavaScript enabled. Please enable it to continue.
        </strong>
      </noscript>
      <div id="app" v-cloak>
        <header>
          {% block header %}
          {% endblock %}
        </header>
        <main>
          {% block body %}
          {% endblock %}
        </main>
      </div>
    </body>
  </html>
</html>
