<nav class="navbar sticky-top navbar-expand-lg {% if app.user.admin %}bg-danger{% else %}bg-primary{% endif %}" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fw-semibold fs-2" href="/">
      <img src="/assets/logo.png" alt="Logo" class="d-inline-block align-text-center tw-w-14 tw-h-14 rounded-circle">
      DICT
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" id="navbarNavDropdown">
      <ul class="navbar-nav fs-5 ms-lg-auto px-lg-2 py-lg-3 gap-3 p-5">
        {% if app.user.admin %}
        <li class="nav-item">
          <a class="nav-link{% if current == 'activities' %} active" aria-current="page{%endif%}" href="/admin/activities.php">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current == 'accounts' %} active" aria-current="page{%endif%}" href="/admin/accounts.php">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current == 'projects' %} active" aria-current="page{%endif%}" href="/admin/projects.php">Projects</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link{% if current == 'personnels' %} active" aria-current="page{%endif%}" href="/admin/personnels.php">Personnels</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link{% if current == 'dashboard' %} active" aria-current="page{%endif%}" href="#">Dashboards</a>
        </li>
        {% endif %}
        <a href="/logout.php" class="btn btn-secondary align-self-center">Logout</a>
      </ul>
    </div>
  </div>
</nav>

