{% extends 'base.twig' %}
{% block head %}
<title>DICT JO - Sign IN</title>
<link rel="stylesheet" href="./styles/style.css">
{% endblock %}
{% block body %}

<div class="login-container">
  <div class="login-logo-wrapper">
    <img src="assets/logo.png" alt="" class="login-logo">
  </div>
  <div class="login-wrapper-2">
    <img src="assets/logo.png" alt="" class="login-logo-two">
    <div class="login-box">
      <h1 class="login-title">Job Order System</h1>
      {% if session.signin_err is defined %}
        <strong>{{ session.signin_err }}</strong>
      {% endif %}
      <form action="/signin.php" method="post">
        <input name="email" class="input-wrapper" type="text" placeholder="Email">
        <input name="password" class="input-wrapper" type="password" placeholder="Password">
        <input class="input-submit self-center" type="submit" value="Sign In">
      </form>
    </div>
  </div>
</div>

{% endblock %}
