@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

[v-cloak] {
  display: none;
}

@page {
  size: 8.5in 13in;
  margin: 0in;
}

.jo-form input:not([readonly]):not(.-has-value):placeholder-shown,
.jo-form textarea:not([readonly]):placeholder-shown {
  @apply bg-red-100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
