@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

@page {
  size: 8.5in 13in;
  margin: 0in;
}

:root {
  --bs-navbar-brand-font-size: 24px;
}

.form-label::after {
  background: transparent !important;
}

@tailwind components;
@tailwind utilities;
