@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  margin: 0 auto;
  background-color: white;
  font-family: "Inter", "Helvetica Neue", "Helvetica";
  font-weight: 500;
}
html,
body {
  height: 100%;
  background-size: cover;
}


.dropbtn {
  background-color: #4CAF50;
  border-radius: 16px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  top: 100px;
  min-width: 100px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #075987;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 1;
  padding: 0 40px;
  box-sizing: border-box;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
}
.header h2 {
  margin-right: 30px;
}

a.add-button {
  background-color: #4caf50;
  width: 24px;
  height: 24px;
}
a.logout-button {
  padding-top: 20px;
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.logout-button:hover .svg-path {
  fill: #bebebe;
}
.add-button:hover {
  background-color: #45a049;
}

.table-container {
  overflow-x: auto;
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.514) 2px solid;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
}

.table-container-3 {
  display: flex;
  justify-content: center;
}

.table-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teybol {
  width: 100%;
  border-collapse: collapse;
}

.teybol th,
.teybol td {
  padding: 18px;
  text-align: left;
  border-bottom: rgba(181, 178, 178, 0.424) 1px solid;
}

.teybol th {
  background-color: #075987;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}
.teybol tr:hover {
  background-color: #959595;
}
tbody tr:nth-child(even) {
  background-color: rgb(225, 225, 225);
  color: rgb(0, 0, 0);
}
tbody tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.delete-button {
  background-color: rgb(173, 20, 20);
}
.edit-button {
  background-color: rgb(22, 94, 161);
}
.delete-button svg {
  width: 13.86px;
  height: 13.86px;
}
.edit-button,
.delete-button,
.add-button,
.logout-button {
  padding: 6px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 2rem;
  text-decoration: none;
  margin-bottom: 5px;
  height: 2rem;
}
svg {
  color: white;
  width: 70%;
}
.delete-button:hover {
  background-color: #890909;
}

.edit-button:hover {
  background-color: #054890;
}
.delete-button:last-child,
.edit-button:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1786px) {
 
  .dropdown-content a {
    font-size: 12px;
    padding: 8px 8px;
  }
}
@media screen and (max-width: 1174px) {
 
  .teybol td {
    font-size: 0.75rem;
  }
  .teybol th {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 869px) {
  .teybol td:nth-child(6) {
    padding: 0;
  }
}
@media screen and (max-width: 712px) {
  .dropdown-content {
    margin-top: 10px;
    right: 10px;
    }
   
  .teybol td:nth-child(6) {
    padding: 8px 16px 8px 0;
  }
  .table-container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .table-container-3,
  .table-container,
  .table-container-2 {
    width: 100%;
    border-radius: 0;
    border: none;
  }

  .teybol thead {
    display: none;
  }

  .teybol,
  .teybol tbody,
  .teybol tr,
  .teybol td {
    display: block;
    width: 100%;
    border-top: rgba(0, 0, 0, 0.569) 0.001rem solid;
  }

  .teybol tr {
    margin-bottom: 0;
  }

  .teybol td {
    box-sizing: border-box;
    text-align: right;
    padding-left: 0px;
    padding-right: 16px;
    position: relative;
    font-size: 0.9rem;
  }
  tbody tr:nth-child(even):hover {
    background-color: rgb(225, 225, 225);
  }
  tbody tr:nth-child(odd):hover {
    background-color: rgb(255, 255, 255);
  }
  .teybol td::before {
    content: attr(data-label);
    position: absolute;
    left: 16px;
    width: 30%;
    font-weight: bold;
    text-align: left;
    line-height: 95%;
  }
  .teybol td:hover {
    background-color: #959595;
  }
  html,
  body {
    height: fit-content;
    overflow-y: visible;
  }
}
@media screen and (max-width: 345px) {
  .teybol td {
    font-size: 80%;
  }
}
@media screen and (max-width: 497px) {
  .teybol td:nth-child(1),
  .teybol td:nth-child(4) {
    padding-bottom: 20px;
  }
  .header h2 {
    display: none;
  }
}
